<router-outlet></router-outlet>
<toast></toast>


TEST
TEST
TEST
TEST
TEST
TEST
TEST
TEST


<div class="toast-test">
  <input type="button" (click)="showSuccessMessage()" class="btn btn__success" value="Hola Success">
  <input type="button" (click)="showErrorMessage()" class="btn btn__danger" value="Hola Error">
  <input type="button" (click)="showWarningMessage()" class="btn btn__warning" value="Hola Warring">
  <input type="button" (click)="showInfoMessage()" class="btn btn__info" value="Hola Info">
</div>
